.DS_Store
node_modules
/build
/.svelte-kit
/package
*public/*
.env
.env.*
!.env.example
.vercel
.output
.vite
*.idea
.next
.contentlayer
out
.firebase/*
public/*
.env.example
submodules update
test-table.html
run manual deploy
