/* .bg-themes {
    text-align: center;
    position: relative;
    padding:0
}

.bg-themes img {
    width: 100%;
    height: auto;
    max-height: 200px;
    opacity: 0.4;
}

.bg-themes p {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
} */

/* .no-padding {
    padding: 0;
} */

/* .social img {
    max-width: 40px;
    background-position: center center;
    padding: 15px 0;
} */

/* ---- CONTACT FORM ---- */

.container-form {

    background-color: rgb(255 231 0);
    border-radius: 50px;
    padding: 20px;
    text-align: center;

}

.container-form > input[type=text] {
    width: 90%;
    height: 30px;
    margin-top: 20px;
    border-radius: 50px;
    padding-left: 15px;
}

.container-form > input[type=email] {
    width: 90%;
    height: 30px;
    margin-top: 20px;
    border-radius: 50px;
    padding-left: 15px;
}

.container-form > textarea {
    width: 90%;
    height: 150px;
    margin-top: 20px;
    padding-left: 15px;
    border-radius: 15px 0px 0px 15px;
    overflow-x: hidden;
    background-color: white;
}



.container-form > input[type=submit] {
    width: 50%;
    height: 30px;
    margin-top: 20px;
    border-radius: 20px;
    background-color: rgb(26 30 59);
    color: white;
}

/* --- MEET US --- */

.motto {
    border-radius: 50px;
}

.team-card {
    height: 300px;
    width: 300px;
    background-color:#efeeee;
    border-radius: 20px;
    position: relative;
}

.button-team {
    height: 50px;
    width: 80%;
    background-color:rgb(26 30 59);
    border-radius: 20px;
    position: absolute;
    bottom: 30px;
    left: 10%;
    padding: 3%;
}